{% extends "henrylab/base.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
    <section>
        <div class="header">
            <h2>Who Am I<span class="glyphicon glyphicon-question-sign"></span> </h2>
        </div>
    </section>
</div>

<div class="container">
    
    <div class="row">
        <div class="col-md-9">
            <p>You probably want to know a bit about me if you are going to hire me so here I am in full, unfiltered, uncensored form. A founder of HenryLab website, Henry Mbugua is now a freelance programmer, focusing in dynamic web development. If you have a project that needs some creative injection then that's where I come in!</p>
            
            <p>My job is to build your dynamic website so that it is user-friendly and functional but at the same time attractive. Moreover, I add that personal touch to product and make sure that it is eye-catching and easy to use. My primary objective is to bring across your identity and message in the most creative way.</p>
            
            <p>For the past few years I have been working with one of the best and most popular content management system namely Wordpress. Some of the things that I learnt to do is to set up localhost developement environment and to use page builders to create some awesome web pages. But my curiousity to understand the inner working of the web led me to really dig deep and learnt different technology such as Html, CSS, Python.</p>
            
            <p>The passion to become a better software programmer, the drive and will to learn has given me ability to develop resposive sites. A good example of my work is this website. This just shows some of the work I can do.</p>
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><strong><i>Hire me, I'm really good and deliver on time.</i> </strong>
        </div>
        <div class="col-md-3" style="text-align:center;">
            <img src="{% static 'henrylab/dist/img/me.png' %}" alt="me" class="img-circle">
            <h3><strong>Kiarie Henry Mbugua</strong> </h3>
            <em>Software Engineer</em>
        </div>
    </div> <!-- End Row -->
</div> <!-- End Container -->
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="section-title">Education</h2>
            <hr>
            <h4><a href="#">Jomo Kenyatta University Of Agriculture And Technology</a> </h4>
            
            <p>Currently, I am pursuing my Masters in Software Engineering at Jomo Kenyatta University. I have already completed my course work and am doing my thesis project which entails: Real-Time Traffic Big Data Analytics For Route Guidance Scheme in Intelligent Transportation Systems. It's a challanging project but it's enjoyable.</p>
            <p><h4><a href="#">Mount Kenya University</a> </h4></p>
            <p>At Mount Kenya University, I pursued Bachelor of Business Information Technology. Which prepare students to students to become specialists in the information technology needs for the modern business. It's meant to meet the increasing demand int the market place for IT professionals with wide knowledge of business management, technical skills and the capacity to harness and implement IT strategies.</p>
            <p>To read more about my education background please visit<a href="https://ke.linkedin.com/in/henrymbugua"> Kiarie Henry Mbugua</a> </p>
            
        </div>
        <div class="col-md-6">
            <h2 class="section-title">My Skills</h2>
            <hr>
            <h4>What I am Best At. </h4>
            <div class="progress ">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:85%;"> Html5 85%
                    <span class="sr-only">85% complete (info) </span>
                
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progress" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:75%;">Python 75%
                    <span class="sr-only">75% Complete(info) </span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:70%;">Django Web Framework 70%
                    <span class="sr-only">70% complete(info) </span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:81%;"> Twitter BootStrap 81%
                    <span class="sr-only">81% complete(info) </span>
            </div>
    </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:70%;"> Wordpress Content Management System 70%
                    <span class="sr-only">70% complete(info) </span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:56%">Java 56%
                    <span class="sr-only">56% complete(info) </span>
                </div>
            </div>
            <p><i>I have learnt the value of hard work by working hard. Everyday I try to improve on my programming skills.</i></p>
    </div> <!-- End row -->
    
</div> <!-- End container -->

{% endblock %}
