{% extends "henrylab/base.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <h3>Latest Blog Post</h3>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="service-box">
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    <h3>Our Services</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    <h3>Who We Are</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <h3>Reach Us</h3>
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>


{% endblock %}